In [4]:
# Dependencies
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
from sklearn import metrics
from imblearn.over_sampling import SMOTE 
from sklearn.cross_validation import cross_val_score
import gmaps
import requests
import json
from config import API_KEY

In [2]:
Beijing = pd.read_csv('FiveCitiePMData\BeijingPM20100101_20151231.csv')
Chengdu = pd.read_csv('FiveCitiePMData\ChengduPM20100101_20151231.csv')
Guangzhou = pd.read_csv('FiveCitiePMData\GuangzhouPM20100101_20151231.csv')
Shanghai = pd.read_csv('FiveCitiePMData\ShanghaiPM20100101_20151231.csv')
Shenyang = pd.read_csv('FiveCitiePMData\ShenyangPM20100101_20151231.csv')

In [3]:
Beijing.head()

,No,year,month,day,hour,season,PM_Dongsi,PM_Dongsihuan,PM_Nongzhanguan,PM_US Post,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,1,2010,1,1,0,4,NaN,NaN,NaN,NaN,-21.0,43.0,1021.0,-11.0,NW,1.79,0.0,0.0
1,2,2010,1,1,1,4,NaN,NaN,NaN,NaN,-21.0,47.0,1020.0,-12.0,NW,4.92,0.0,0.0
2,3,2010,1,1,2,4,NaN,NaN,NaN,NaN,-21.0,43.0,1019.0,-11.0,NW,6.71,0.0,0.0
3,4,2010,1,1,3,4,NaN,NaN,NaN,NaN,-21.0,55.0,1019.0,-14.0,NW,9.84,0.0,0.0
4,5,2010,1,1,4,4,NaN,NaN,NaN,NaN,-20.0,51.0,1018.0,-12.0,NW,12.97,0.0,0.0

In [4]:
Beijing.isnull().sum()

No                     0
year                   0
month                  0
day                    0
hour                   0
season                 0
PM_Dongsi          27532
PM_Dongsihuan      32076
PM_Nongzhanguan    27653
PM_US Post          2197
DEWP                   5
HUMI                 339
PRES                 339
TEMP                   5
cbwd                   5
Iws                    5
precipitation        484
Iprec                484
dtype: int64

In [5]:
Beijing.shape

(52584, 18)

In [6]:
Chengdu.head()

,No,year,month,day,hour,season,PM_Caotangsi,PM_Shahepu,PM_US Post,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,1,2010,1,1,0,4,NaN,NaN,NaN,4.0,81.20,1022.0,7.0,cv,1.0,0.0,0.0
1,2,2010,1,1,1,4,NaN,NaN,NaN,4.0,86.99,1022.0,6.0,cv,1.0,0.0,0.0
2,3,2010,1,1,2,4,NaN,NaN,NaN,4.0,86.99,1021.0,6.0,cv,1.0,0.0,0.0
3,4,2010,1,1,3,4,NaN,NaN,NaN,3.0,86.89,1021.0,5.0,cv,1.0,0.0,0.0
4,5,2010,1,1,4,4,NaN,NaN,NaN,2.0,86.79,1021.0,4.0,cv,1.0,0.0,0.0

In [7]:
Chengdu.shape

(52584, 17)

In [8]:
Chengdu.isnull().sum()

No                   0
year                 0
month                0
day                  0
hour                 0
season               0
PM_Caotangsi     28164
PM_Shahepu       27990
PM_US Post       23684
DEWP               529
HUMI               535
PRES               521
TEMP               527
cbwd               521
Iws                533
precipitation     2955
Iprec             2955
dtype: int64

In [9]:
Guangzhou.head()

,No,year,month,day,hour,season,PM_City Station,PM_5th Middle School,PM_US Post,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,1,2010,1,1,0,4.0,NaN,NaN,NaN,9.4,76.0,1015.1,13.5,NW,0.8,0.0,0.0
1,2,2010,1,1,1,4.0,NaN,NaN,NaN,10.2,83.0,1015.2,13.0,cv,0.5,0.0,0.0
2,3,2010,1,1,2,4.0,NaN,NaN,NaN,10.4,87.0,1015.0,12.5,NW,0.6,0.3,0.3
3,4,2010,1,1,3,4.0,NaN,NaN,NaN,10.2,89.0,1014.9,12.0,NW,1.4,0.6,0.9
4,5,2010,1,1,4,4.0,NaN,NaN,NaN,10.4,91.0,1014.6,11.8,NE,0.6,0.7,1.6

In [10]:
Guangzhou.shape

(52584, 17)

In [11]:
Guangzhou.isnull().sum()

No                          0
year                        0
month                       0
day                         0
hour                        0
season                      1
PM_City Station         20232
PM_5th Middle School    31489
PM_US Post              20232
DEWP                        1
HUMI                        1
PRES                        1
TEMP                        1
cbwd                        1
Iws                         1
precipitation               1
Iprec                       1
dtype: int64

In [12]:
Shanghai.head()

,No,year,month,day,hour,season,PM_Jingan,PM_US Post,PM_Xuhui,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,1,2010,1,1,0,4,NaN,NaN,NaN,-6.0,59.48,1026.1,1.0,cv,1.0,0.0,0.0
1,2,2010,1,1,1,4,NaN,NaN,NaN,-6.0,59.48,1025.1,1.0,SE,2.0,0.0,0.0
2,3,2010,1,1,2,4,NaN,NaN,NaN,-7.0,59.21,1025.1,0.0,SE,4.0,0.0,0.0
3,4,2010,1,1,3,4,NaN,NaN,NaN,-6.0,63.94,1024.0,0.0,SE,5.0,0.0,0.0
4,5,2010,1,1,4,4,NaN,NaN,NaN,-6.0,63.94,1023.0,0.0,SE,8.0,0.0,0.0

In [13]:
Shanghai.shape

(52584, 17)

In [14]:
Shanghai.isnull().sum()

No                   0
year                 0
month                0
day                  0
hour                 0
season               0
PM_Jingan        27884
PM_US Post       18545
PM_Xuhui         27395
DEWP                13
HUMI                13
PRES                28
TEMP                13
cbwd                12
Iws                 12
precipitation     4009
Iprec             4009
dtype: int64

In [15]:
Shenyang.head()

,No,year,month,day,hour,season,PM_Taiyuanjie,PM_US Post,PM_Xiaoheyan,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,1,2010,1,1,0,4,NaN,NaN,NaN,-26.0,69.79,1024.0,-22.0,NE,1.0289,NaN,NaN
1,2,2010,1,1,1,4,NaN,NaN,NaN,-26.0,76.26,1024.0,-23.0,NE,2.5722,NaN,NaN
2,3,2010,1,1,2,4,NaN,NaN,NaN,-27.0,69.56,1023.0,-23.0,NE,5.1444,NaN,NaN
3,4,2010,1,1,3,4,NaN,NaN,NaN,-27.0,69.56,1023.0,-23.0,NE,7.7166,NaN,NaN
4,5,2010,1,1,4,4,NaN,NaN,NaN,-27.0,69.56,1022.0,-23.0,NE,9.7744,NaN,NaN

In [16]:
Shenyang.shape

(52584, 17)

In [17]:
Shenyang.isnull().sum()

No                   0
year                 0
month                0
day                  0
hour                 0
season               0
PM_Taiyuanjie    28196
PM_US Post       30904
PM_Xiaoheyan     27957
DEWP               692
HUMI               680
PRES               692
TEMP               692
cbwd               692
Iws                692
precipitation    12763
Iprec            12763
dtype: int64

In [5]:
gmaps.configure(api_key=API_KEY) #put your API

To show gmaps in jupyter notebook run the following command in the 
    **jupyter nbextension enable --py gmaps**

In [84]:
BeijingPlaces = ["Beijing, China","Dongsi, Beijing","Dongsihuan, Beijing","Nongzhanguan, Beijing","US Consulate, Beijing"]
ChengduPlaces = ["Chengdu, China","Caotangsi, Chengdu","Shahepu, Chengdu","US Consulate, Chengdu"]
GuangzhouPlaces = ["Guangzhou, China","City Station, Guangzhou","5th Middle School, Guangzhou","US Consulate, Guangzhou"]
ShanghaiPlaces = ["Shanghai, China","Jingan, Shanghai","Xuhui, Shanghai","US Consulate, Shanghai"]
ShenyangPlaces = ["Shenyang, China","Taiyuanjie, Shenyang","Xiaoheyan, Shenyang","US Consulate, Shenyang"]

In [74]:
def getLatLong(places):
    # Target city
    lat = []
    lng = []
    print(len(places))
    for pl in places:
        target_city = pl
        print(target_city)
        # Build the endpoint URL
        target_url = "https://maps.googleapis.com/maps/api/geocode/json?" \
            "address=%s&key=%s" % (target_city, API_KEY)

        # Run a request to endpoint and convert result to json
        geo_data = requests.get(target_url).json()

        # Extract latitude and longitude
        lat.append(geo_data["results"][0]["geometry"]["location"]["lat"])
        lng.append(geo_data["results"][0]["geometry"]["location"]["lng"])
    return lat,lng

In [85]:
BJlat,BJlng = getLatLong(BeijingPlaces)
CHlat,CHlng = getLatLong(ChengduPlaces)
GUlat,GUlng = getLatLong(GuangzhouPlaces)
SAlat,SAlng = getLatLong(ShanghaiPlaces)
SHlat,SHlng = getLatLong(ShenyangPlaces)

5
Beijing, China
Dongsi, Beijing
Dongsihuan, Beijing
Nongzhanguan, Beijing
US Consulate, Beijing
4
Chengdu, China
Caotangsi, Chengdu
Shahepu, Chengdu
US Consulate, Chengdu
4
Guangzhou, China
City Station, Guangzhou
5th Middle School, Guangzhou
US Consulate, Guangzhou
4
Shanghai, China
Jingan, Shanghai
Xuhui, Shanghai
US Consulate, Shanghai
4
Shenyang, China
Taiyuanjie, Shenyang
Xiaoheyan, Shenyang
US Consulate, Shenyang

## Five cities

In [94]:
china_coordinates = (35.86166, 104.19539699999996)
fig = gmaps.figure(center=china_coordinates, zoom_level=4)
locations = [[BJlat[0],BJlng[0]],[CHlat[0],CHlng[0]],[GUlat[0],GUlng[0]],[SAlat[0],SHlng[0]],[SHlat[0],SHlng[0]]]
names = ['Beijing', 'Chengdu', 'Guangzhou', 'Shanghai', 'Shenyang']
markers = gmaps.marker_layer(locations, info_box_content=names)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

# Cities and its places

In [122]:
def plotMap(lat,lng,names,colors,zoom):
    coordinates = (lat[0],lng[0])
    fig = gmaps.figure(center=coordinates, zoom_level=zoom)
    places = list(zip(lat,lng))
    symbols = gmaps.symbol_layer(places, fill_color=colors, stroke_color=colors,scale = 6,info_box_content=names,
                                display_info_box=True)
    fig.add_layer(symbols)
    return fig

## Beijing and places in it

In [123]:
names = ['Beijing','Dongsi', 'Dongsihuan', 'Nongzhanguan', 'US Post']
colors = ['red','red', 'red', 'red', 'blue']
fig = plotMap(BJlat,BJlng,names,colors,12)
fig

Figure(layout=FigureLayout(height='420px'))

## Chengdu and places in it

In [124]:
names = ['Chengdu','Caotangsi', 'Shahepu', 'US Post']
colors = ['red','red', 'red', 'blue']
fig = plotMap(CHlat,CHlng,names,colors,11)
fig

Figure(layout=FigureLayout(height='420px'))

## Guangzhou and places in it

In [125]:
names = ['Guangzhou','City Station', '5th Middle School', 'US Post']
colors = ['red','red', 'red', 'blue']
fig = plotMap(GUlat,GUlng,names,colors,10)
fig

Figure(layout=FigureLayout(height='420px'))

## Shanghai and places in it

In [126]:
names = ['Shanghai','Jingan', 'Xuhui', 'US Post']
colors = ['red','red', 'red', 'blue']
fig = plotMap(SAlat,SAlng,names,colors,12)
fig

Figure(layout=FigureLayout(height='420px'))

## Shenyang and places in it

In [127]:
names = ['Shenyang','Taiyuanjie', 'Xiaoheyan', 'US Post']
colors = ['red','red', 'red', 'blue']
fig = plotMap(SAlat,SAlng,names,colors,12)
fig

Figure(layout=FigureLayout(height='420px'))

# Using Tensorflow

In [ ]:
# Setting parameters
num_features = X_train.shape[1]
learning_rate = 0.05
training_epochs = 200